html {
    font-size: 14px;
    background-color: #caf0f8
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #caf0f8
}

.checked {
    color: yellow;
}

.rating {
    width: 26.6vh
}

.navbar {
    background-color: #ade8f4
}

.container {
    background-color: #ade8f4
}

footer {
    background-color: #ade8f4
}